.clicked{
    width: 150px;
    height: 150px;
    padding: 28px;
    background-color: lightskyblue;
}
#square{
    width: 100px;
    height: 100px;
    background-color: red;
    color: white;
}
.testing{
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
    top: 50px;
    left: 50px;
}
