.slide{
    width: 100%;
}
.prev , .next{
    cursor : pointer;
    position: absolute;
    top: 50%;
    padding: 50px;
}
.next{
    right: 0;
}
.perv:hover , .next:hover{
    background-color: skyblue;
}