@media(min-width: 600px){
    body{
        background-color: #0bb3e6;
        color: white;
    }
    p{
        column-count: 2;
    }
}
@media all and(max-width: 600px){
    body{
        background-color: #0a8d94;
        color: black;
    }
}
@media all and (orientation: landscape){
    h1{
        font-size: 80px;
    }
}
@media all and (orientation: portrait){
    h1{
        font-size: 30px;
    }
}
@media (min-width: 600px) and (max-width: 900px){
    img{
        display: none;
    }
}
@media print{
    body{
        background-color: transparent;
    }
}